* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: fixed;
  top: 0px;
  background-color: white;
  border-bottom: solid 2px rgba(128, 128, 128, 0.325);
  z-index: 4;
}

a {
  text-decoration: none;
  font-size: 12px;
  line-height: 0px;
  font-weight: 400;
}

ion-icon {
  color: black;
  line-height: 0px;
}

a.globe ion-icon {
  width: 16px;
  height: 16px;
}

a.menu ion-icon {
  width: 22px;
  height: 22px;
  color: grey;
}

a.user ion-icon {
  width: 28px;
  height: 28px;
  color: grey;
}

.white {
  color: white;
}

.grey {
  color: grey !important;
}

.sidebar {
  background: white;
  position: absolute;
  top: 0;
  z-index: 3;
  right: -250px;
  width: 250px;
  height: 100vh;
  transition: 0.5s ease-in-out;
}

.sidebar.visible {
  right: 0;
  position: fixed;
}

.sidebar .link {
  top: 300px;
}

.sidebar a {
  color: black;
}

.grey {
  color: grey !important;
}

.icon-top {
  height: 48px;
}

.icon {
  text-align: center;
  justify-content: flex-end;
}

.icon-list {
  height: 70px;
}

.icon-list:first-child {
  height: 100%;
}

#star-float-card {
  color: #ff385c;
  height: 30px;
  width: 30px;
}

.top-card {
  height: 70px;
}

#dateStart {
  border: none;
  border-right: solid 1px gray;
  border-bottom: solid 1px gray;
}

#dateEnd {
  border: none;
  border-left: solid 1px gray;
  border-bottom: solid 1px gray;
}

#guestText {
  border-left: solid 1px gray;
}

#floatInput {
  border: solid 3px gray;
  border-radius: 5px;
}

.btn-light {
  background-color: #ff385c;
}

.floated-card {
  transition: transform 1s ease-in-out;

}

.floated-card:hover {
  transform: scale(1.7);
}

.img-top {
  transition: transform 0.7s ease-in-out;
}


.img-top:hover {
  transform: scale(1.1);
  box-shadow: 3px 5px 3px #ff385c;
}

.page3-body ion-icon {
  font-size: 3rem;
  color: black;
}

ion-icon:hover {
  color: #ff385c;

}

#first {
  margin-top: 100px!important;
}