/* {}  [] # */
.icon{
   text-align: center;
   justify-content: flex-end;
}


ion-icon {
 
  height: 100%;
}

  .icon-list{
  
    height: 50px;
  }
#star-float-card {
  color: pink;
  height: 30px;
  width: 30px;
}


.top-card {
  height: 70px;
}


#dateStart {
  border: none;
  border-right: solid 1px gray;
  border-bottom: solid 1px gray;

}

#dateEnd {
 border: none; 
  border-left: solid 1px gray;
  border-bottom: solid 1px gray;

  
}

#guestText {
  border-left: solid 1px gray;
  
}




#floatInput {
  border: solid 3px gray;
  border-radius: 5px;
}
.btn-light {
  background-color: pink;
}