/* {}  [] # */
.icon{
   text-align: center;
   justify-content: flex-end;
}

.foto .row{
  max-height: 880px;
}
.foto .row .row{
    height: 100%;
    
}
ion-icon {
  width: 48px;
  height: 48px;
  }

#star-float-card {
  color: pink;
  height: 30px;
  width: 30px;
}


.top-card {
  height: 70px;
}