/* GENERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p,
h6 {
  margin-bottom: unset;
}

.bold {
  font-weight: 700;
}

.plus {
  background-color: red;
  color: white;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: auto;
}

.apartment-card .top {
  height: max-content;
}

.apartment-card {
  transition: transform 0.3s ease-in-out;
  position: relative;
  z-index: 1;
}

.apartment-card:hover {
  transform: scale(1.1);
  cursor: pointer;
  z-index: 2;
}

header {
  position: fixed;
  background-color: white;
  border-bottom: solid 2px rgba(128, 128, 128, 0.325);
  z-index: 4;
}

ion-icon {
  color: white;
  line-height: 0px;
}

a.globe ion-icon {
  width: 16px;
  height: 16px;
}

a.menu ion-icon {
  width: 22px;
  height: 22px;
  color: grey;
}

a.user ion-icon {
  width: 28px;
  height: 28px;
  color: grey;
}

.white {
  color: white;
}

.grey {
  color: grey !important;
}

.sidebar {
  background: white;
  position: absolute;
  top: 0;
  z-index: 3;
  right: -250px;
  width: 250px;
  height: 100vh;
  transition: 0.5s ease-in-out;
}

.sidebar.visible {
  right: 0;
  position: fixed;
}

.sidebar .link {
  top: 300px;
}

.sidebar a {
  color: black;
}

.bottom {
  color: black;
}

a {
  text-decoration: none;
}

li ion-icon {
  color: black!important;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}

footer {
  margin: 0px 100px;
}