/* COLORS */
:root {
    --color-default: #FFDF7E;
}

/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CUSTOM */

.plus{
    background-color: red;
    color: white;
    width: 20px;
    height: 20px;
    border-radius:50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: auto;
}
.btn,button{
    border-radius: 50px !important;
   
}

.top,img{
    width: 250px;
    height: 150px;
    border-radius: 10%;
}
.bottom{
    width: 250px;
}

.bottom,h4{
    font-size: medium;
}
