/* COLORS */
:root {
    --color-default: #FFDF7E;
}

/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CUSTOM */

.plus{
    background-color: red;
    color: white;
    width: 15px;
    height: 15px;
}